@import uk.gov.bis.taxserviceMock.controllers._

@(authId: Long, userName:String, scopeDescription:String)

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">&nbsp</span>
            </nav>
        </div>
    </div>
}

@extra = {
    <div class="last-login float--right">
        <p class="flush text--right h3-heading">@userName</p>
    </div>
}

@main("HMRC Tax Platform", insideHeader = proposition, logoRight = extra) {
    <div>
        <article class="content__body">
            <h1>Authority to interact with HMRC on your behalf</h1>
            <p>The <strong>DAS Alpha Client Mock</strong> software application is requesting to do the following:</p>
            <ul>
                <li class="bullets">@scopeDescription</li>
            </ul>
            <p>It will be able to do the above for 10 hours from when you grant authority.</p>
            <form method="post" action="@routes.GrantScopeController.grantScope(authId)">
                <fieldset class="form-field-group">
                    <div class="form-field">
                        <input class="button" type="submit" value="Grant Authority"/>
                        <a href="@routes.GrantScopeController.cancel(authId)">Do not grant authority</a>
                    </div>
                </fieldset>
            </form>
            <a href="" rel="external" target="_blank">You can remove this authority at any time.</a>
        </article>
    </div>
}
