@import uk.gov.bis.taxserviceMock.controllers.admin
@import uk.gov.bis.taxserviceMock.controllers.admin._
@import uk.gov.bis.taxserviceMock.db.oauth2.ClientRow

@(form: Form[AddAppFormData], cs: Seq[ClientRow])

@adminmain("Applications") {
    <div><a href="@routes.AdminController.index()">back</a></div>
    <br>
    <div>
        Here you can add and remove client credentials for applications. *PLEASE* don't mess with
        credentials other than your own!
    </div>
    <br>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Client ID</th>
                    <th>Client Secret</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @cs.map { c =>
                <tr>
                    <td>@c.id</td>
                    <td>@c.secret</td>
                    <td><a href="@admin.routes.AdminController.removeApplication(c.id)">remove</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div>
        <br>
        <form method="post" action="@admin.routes.AdminController.addApplication()">
            <fieldset>
                <legend>Add credentials for an application:</legend>
                <div>
                    @form.errors("clientId").map(_.message)
                    <label for="clientId">Client ID</label>
                    <input label="clientId" type="text" name="clientId">
                </div>
                <div>
                    @form.errors("clientSecret").map(_.message)
                    <label for="clientSecret">Client Secret</label>
                    <input label="clientSecret" type="text" name="clientSecret">
                </div>
                <input type="submit" value="Add"/>
            </fieldset>
        </form>
    </div>
}