@import controllers.gateway.UserData
@import play.api.data.Form

@(form: Form[UserData])

    @main("Login in to Government Gateway") {
        <div>
            <div class="alpha-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a trial service. Help us improve it - send your
                        <a href="">feedback</a>.</span>
                </p>
            </div>

            <article class="content__body">
                <h1>Sign in</h1>
                <p>Enter your Government Gateway credentials to sign in. You received these when you created your HMRC online account.</p>
                <form method="post" action="@controllers.gateway.routes.GatewaySignInController.handleSignIn()">
                    <div id="errors">
                    @form.errors.map { e => <div>@e.messages.head</div> }
                    </div>
                    <fieldset class="form-field-group">
                        <div class="form-field">
                            <label class="label--inline" for="userId">User ID</label>
                            <input type="text" id="userId" name="userId" required />
                        </div>
                        <div class="form-field">
                            <label class="label--inline" for="password">Password</label>
                            <input type="password" id="password" required name="password"/>
                        </div>
                        <div class="form-field">
                            <input class="button" type="submit" value="Sign in"/>
                        </div>
                    </fieldset>
                </form>
            </article>
        </div>
    }
