@import uk.gov.bis.taxserviceMock.controllers.gateway
@import uk.gov.bis.taxserviceMock.data.AuthId
@import uk.gov.bis.taxserviceMock.data.GatewayUser

@(auth: AuthId, user:GatewayUser)

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Business tax account</span>
            </nav>
        </div>
    </div>
}

@main("HMRC Tax Platform", insideHeader = proposition) {
    <div>
        <article class="content__body">
            <h1>Authority to interact with HMRC on your behalf</h1>
            <p>The <strong>DAS Alpha Client Mock</strong> software application is requesting to do the following:</p>
            <ul>
                <li>access levy data</li>
            </ul>
            <p>It will be able to do the above for 10 hours from when you grant authority.</p>
            <form method="post" action="@gateway.routes.GrantScopeController.grantScope(auth.id.get)">
                <fieldset class="form-field-group">
                    <div class="form-field">
                        <label class="label--inline" for="accessCode">Access code</label>
                        <input type="text" id="accessCode" name="accessCode" required />
                    </div>
                    <div class="form-field">
                        <input class="button" type="submit" value="Grant Authority"/>
                        <a href="">Do not grant authority</a>
                    </div>
                </fieldset>
            </form>
            <a href="" rel="external" target="_blank">You can remove this authority at any time.</a>
        </article>
    </div>
}
